.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 20px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size:  32px;
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.tip {
  margin-top: 20px;
}
.content {
  margin-top: 20px;
}
.item {
  margin-top: 20px;
}
.item-title {
  font-size: 16px;
}
.info {
  margin-top: 10px;
  text-indent: 35px;
}
.c1 {
  margin-left: 30px;
}